* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

/* fonts */

h1, h2 {
    font-family: 'Merriweather', serif; 
}

p, button, input {
    font-family: 'Lato', sans-serif;
}

body {
    background-color: #F9F9F9;
}

a {
    text-decoration: none;
}

header {
    background-color: #D7D5FF;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 730px;
}

.cabeçalho {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.cabeçalho h1 {
    font-size: 32px;
    font-weight: 400;
    width: 80%;
    color: #2B2B2B;
}

.cabeçalho p {
    font-weight: 400;
    font-size: 17px;
    color: #555555;
    width: 80%;
    margin-top: 18px;
}

.imagem {
    width: 80%;
    height: 250px;
    margin-top: 114px;
}

.cabeçalho button {
    background: #6C63FF;
    border-radius: 5px;
    width: 155px;
    height: 50px;
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
    margin-right: 160px;
    margin-top: 32px;
}

/* cards */

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    height: 443px;
    margin-bottom: 32px;
}
.cards-linha1 {
    width: 80%;
}

.cards-linha2 {
    width: 80%;
}


.texto-card {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    padding-left: 8%;
}

.texto-card h2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #2B2B2B;
    margin-top: 26px;
    margin-bottom: 26px;
}

.texto-card p {
    margin-right: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
}

/* Cards colors */

#card-orange {
    width: 100%;
    height: 50%;
    background-color: #FF6363;
    margin-top: 73px;
}

#card-light-blue {
    width: 100%;
    height: 50%;
    background-color: #63ECFF;
}
#card-pink {
    width: 100%;
    height: 50%;
    background-color: #F363FF;
}
#card-light-green{
    width: 100%;
    height: 50%;
    background-color: #63FF73;
}
#card-yellow {
    width: 100%;
    height: 50%;
    background-color: #FFDD63;
}
#card-blue {
    width: 100%;
    height: 50%;
    background-color: #6663FF;
}

/* Footer */

footer {
    background-color: #D7D5FF;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

footer h1 {
    margin-top: 83px;
    font-weight: 400;
    font-size: 32px;
}

input {
    width: 100%;
    border-radius: 5px;
}

.nome {
    margin-top: 36px;
    margin-bottom: 20px;
    height: 40px;
}

.e-mail {
    margin-bottom: 20px;
    height: 40px;
}

.telefone {
    margin-bottom: 20px;
    height: 40px;
}

.mensagem {
    margin-bottom: 45px;
    height: 150px;
}

input::placeholder {
    padding-left: 3%;
    color: rgba(110, 114, 117, 0.74);
    font-weight: 400;
    font-size: 16px;
}

.mensagem::placeholder {
    margin-bottom: 200px;
    padding-left: 3%;
    color: rgba(110, 114, 117, 0.74);
    font-weight: 400;
    font-size: 16px;
    position: absolute;
    margin-top: 20px;
}

footer button {
    width: 100%;
    height: 50px;
    background-color: #6C63FF;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    border-radius: 5px;
}

.direitos-autorais {
    margin-top: 85px;
    
}

.direitos-autorais p {
    color: #2B2B2B;
    font-size: 18px;
}

.link-jailton {
    color: #2B2B2B;
}



